body {
    margin: 0;
    padding: 0;
    background-image: url("../static/backround-img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
div {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
input {
    width: 65%;
    padding: .6rem .8rem;
    margin: .5rem 0;
    box-sizing: border-box;
    border-bottom: .2rem solid #000;
    text-align: center;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
#predi {
    color: white;
    font-size: 1.7rem;
}